/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: #222;
    line-height: 1.231;
    display: block;
}
#navigation {
    height: 50px;
    margin: 0 auto;
    width: 454px;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}
div {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#navigation ul {
    list-style-type: none;
}
#navigation ul li {
    float: left;
    margin-right: 10px;
}
#navigation a {
    text-decoration: none;
    color: #222;
    padding: 6px;
}
.name {
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -.02em;
}
#last-name {
    font-weight: 500;
}
table, td {
    border: 1px solid black;
}
.social{
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.social .content{
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.social h5 {
    display: block;
    color: black;
    font: inherit;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .linkedin {
    color: #4c66a4 ;
}
.social .instagram {
    color: #3f729b ;
}
.social .twitter {
    color: #55acee ;  
}